---
import CallToAction from "./CTA.astro";
---

<section id="about" class="lg:flex lg:max-w-5xl lg:mx-auto pb-8 gap-8 pt-8">
	<div class="lg:w-1/2 pb-4">
		<article>
			<div class="lg:text-start text-center">
				<h3 class="pb-4 pt-8 text-slate-400 uppercase">Biografía</h3>
				<h2 class="font-bold text-2xl">¿Quién soy yo?</h2>
			</div>
			<div>
				<h3
					class="font-semibold text-blue-400 text-lg mt-2 lg:text-start text-center"
				>
					A cerca de mí
				</h3>
				<h2 class="font-bold text-2xl mt-4 mb-4 lg:text-start text-center">
					Conoce más a Kaisher Dev
				</h2>
				<p class="text-balance">
					Mi nombre es Wilson, más conocido como Kaisher Dev. Soy un Profesional
					Técnico en
					<span class="text-blue-400">Computación e Informática</span>, con más de 4 años de Experiencia
					como <span class="text-blue-400">Desarrollador Web trabajando en la Industria Tecnológica</span>
				</p>
				<p class="pt-4">
					Me gusta crear aplicaciones y sitios web responsivos, atractivos y
					únicos en versiones light y darkmode, utilizando frameworks como
					<span class="text-blue-400">
						Astro, Django, ReactJS and Tailwind CSS.
					</span>
						y lenguajes de programación:
					<span class="text-blue-400">
						Javascript, TypeScript and Python
					</span>.
				</p>
				<p class="pt-4">
					Estoy comprometido con el desarrollo continuo de mis conocimientos y
					habilidades para aportar <span class="text-blue-400">soluciones innovadoras y eficaces</span>.
				</p>
			</div>
		</article>
	</div>
	<div class="lg:w-1/2">
		<CallToAction />
	</div>
</section>
