<div class="flex relative rounded-full gap-3 border border-white justify-center items-center bg-gray-800 hover:border-blue-400 hover:bg-gradient-to-r hover:from-indigo-500 hover:via-sky-500 hover:from-10% hover:via-30% hover:to-90% w-[180px] px-2 py-2">
	<div class="badge bg-[#b8ff36] size-[4px] rounded-full"></div>
		<slot />
</div>
<style>

	.badge {
		animation: flicker 1s infinite alternate ease-in-out;
	}

	@keyframes flicker {
		0% {
			transform: scale(1);
			box-shadow: 0 0 5px #b8ff36;
		}
		50% {
			transform: scale(2);
			box-shadow: 0 0 10px #b8ff36;
		}
		100% {
			transform: scale(1);
			box-shadow: 0 0 5px #b8ff36;
		}
	}
</style>
