---
import SocialPill from "./SocialPill.astro"
---
<section
	id="contact"
	class="rounded-tl-[50px] rounded-br-[50px] bg-gradient-to-r from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90% lg:p-14 p-8 max-w-5xl mx-auto"
>
	<h3 class="text-white uppercase text-center pb-4">Contáctame</h3>
	<div
		class="lg:max-w-[500px] lg:mx-auto bg-blue-300 lg:m-8 rounded-lg p-4 pb-8 flex flex-col justify-center"
	>
		<div
			class="justify-center items-center text-center max-w-96 lg:mx-auto pb-4"
		>
			<h2 class="font-bold lg:text-2xl text-xl lg:pt-4 pt-2">
				Si necesitas hacer tu sitio web contáctame y trabajemos juntos.
			</h2>
			<p class="lg:text-base text-sm text-gray-900">
				Estoy emocionado por la oportunidad de trabajar, colaborar y transformar tus ideas
				en proyectos visuales impactantes.
			</p>
		</div>

		<div class="flex justify-center">
			<a
				href="mailto:kaisher.dev.wese872@passinbox.com"
				role="link"
				target="_blank"
				class="bg-blue-400 hover:bg-slate-100 hover:text-black/80 px-4 py-[6px] rounded-full">
				Contáctame
			</a>
		</div>
	</div>
</section>
