---
const year = new Date().getFullYear();
---

<footer
	class="flex flex-col justify-center items-center h-24 max-w-5xl mx-auto pb-4"
>
	<hr
		class="h-[2px] w-full min-w-[18rem] border-t-0 bg-transparent bg-gradient-to-r from-transparent via-blue-500 to-transparent bg-center md:hidden"
	/>
	<p class="text-center text-sm pt-4">
		&copy; {year}
		Kaisher Dev | Todos los derechos reservados
	</p>
</footer>
