---
import SocialPill from "@/components/SocialPill.astro";
import Badge from "@/components/Badge.astro";
import GmailIcon from "@/assets/icons/Gmail.astro";
import GitHubIcon from "@/assets/icons/GitHub.astro";
---

<section class="lg:flex gap-8 lg:max-w-5xl lg:mx-auto pt-16 lg:pt-8">

	<article class="lg:text-start text-center lg:mt-16 mt-4 lg:w-1/2">
		<h1 class="lg:text-5xl font-bold text-2xl text-balance">
			<span class="text-blue-500">춰Hola a todos! 游녦</span> Soy Kaisher Dev, Desarrollador
			Frontend
		</h1>
		<p class="pt-6 text-balance">
			<span class="text-blue-400 font-bold">
				Profesional en Computaci칩n e Inform치tica
			</span>
				de la ciudad de Lima - Per칰 游왫릖. Con m치s de 3 a침os de Experiencia como desarrollador web
				trabajando en la industria tecnol칩gica
		</p>
		<nav class="lg:flex flex-wrap pt-6 items-center pb-20 lg:justify-start lg:space-x-0 space-x-4 lg:gap-8">
			<SocialPill href="mailto:kaisher.dev.wise872@passinbox.com">
				<GmailIcon class="size-4" />
					Cont치ctame
			</SocialPill>
			<SocialPill href="https://github.com/KaisherCode/">
				<GitHubIcon class="size-4" />
					Git Hub
			</SocialPill>
		</nav>
	</article>

	<div class="flex justify-center lg:items-center lg:w-1/2 lg:mx-auto">
		<div
			class="flex relative h-64 w-64 mx-auto justify-center bg-gradient-to-r from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90% rounded-full border bottom-4"
		>
			<img
				src="/img-perfil.png"
				alt="Foto de perfil"
				class="absolute w-full h-full object-cover object-center rounded-full"
			/>
			<a
				href="https://linkedin.com/kaisher"
				target="_blank"
				rel="noopener"
				class="text-xs">
				<Badge>Disponible para trabajar</Badge>
			</a>
		</div>
	</div>

</section>
