<a
	{...Astro.props}
	class="inline-flex gap-2 items-center border border-white hover:border-blue-400 bg-slate-900 hover:bg-gradient-to-r hover:from-indigo-500 hover:via-sky-500 hover:from-10% hover:via-30% hover:to-90% px-4 py-1 rounded-full"
	role="link"
	target="_blank"
	rel="noopener"
>
	<slot />
</a>
